/* colours */
$white: #ffffff;

$green:#5DB897;
$dark-green:#346553;
$blue:#30a9d8;
$dark-blue:#1d6682;
$red:#CF616B;
$dark-red:#93454c;


$grey-background:#F5F9F9;
$grey: #ddd;
$header-background: $white;
$black:#242424;
$text-colour:#2E4F4F;

$amber: #f39c12;
