<a  data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
<i class="icon-bell"></i>
<timer ng-show="false" language="en" interval="10000"></timer>
<span ng-show="vm.number>0" class="badge badge-danger badge-header">{{vm.number}}</span>
</a>
<ul class="dropdown-menu">
    <li class="dropdown-header clearfix">
        <p class="pull-left" ng-model="vm.number_of_Notifications">{{vm.number}} Pending Notifications</p>
    </li>
    <li>
        <ul class="dropdown-menu-list withScroll" data-height="220">
        	<li  ng-repeat="x in vm.notification">
                <a href="#/notification/see_all">
                <i class="fa fa-file-text p-r-10 f-18"></i>
                {{x.message}}
                
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown-footer clearfix">
        <a href="#/notification/see_all" class="pull-left">See all notifications</a>
        <a data-target="#" class="pull-right">
        <i class="icon-settings"></i>
        </a>
    </li>
</ul>

<!-- <script src="notification_dropdown.js"></script> -->