<div ng-init="timerType = 'Saving Documents'"
	ng-controller="mdl.mobileweb.controller.gpstracking as vm">
	<!-- <ng-include src="vm.template"></ng-include> -->
	<div class="col-md-12" style="text-align: center; margin-top: 10px;">
		<div class="btn_row" style="text-align: center;">
			<button type="button" id="startButton" class="btn btn-primary"
				data-ng-disabled="vm.trackButton" data-ng-click="vm.startTracking()">{{vm.buttonLabel}}</button>


		</div>
		<div style="text-align: center;">
			<button class="btn btn-success m-r-10" type="button" id="stopButton"
				data-ng-disabled="vm.stopButton" style="text-align: center;"
				ng-click="vm.stopTracking()">Stop Tracking</button>
		</div>
	</div>

</div>