<div class="modal fade"  id="{{templateModal2.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title"><strong>{{templateModal2.header}}</strong></h4>
            </div>
            <div class="modal-body">
                <p class="m-t-20">{{templateModal2.body}}</p>
            </div>
        </div>
        <div class="modal-footer bg-dark">
            <button type="button" class="btn btn-white" ng-click="templateModal2.close()">{{templateModal2.closeCaption}}</button>
            <button type="button" class="btn btn-primary" ng-click="templateModal2.save()">{{templateModal2.saveCaption}}</button>
        </div>
    </div>
</div>