<div class="modal fade"  id="{{vm.rc_completeprog.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title"><strong>{{vm.rc_completeprog.header}}</strong></h4>
            </div>
            <div class="modal-body">
                <p class="m-t-20">{{vm.rc_completeprog.body}}</p>
                </div>
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-white" ng-click="vm.rc_completeprog.close(vm.currentStation)">{{vm.rc_completeprog.closeCaption}}</button>
                <button type="button" class="btn btn-primary" ng-click="vm.rc_completeprog.save()">{{vm.rc_completeprog.saveCaption}}</button>
            </div>
        </div>
    </div>