<!-- 
/***
 * Project: MDL Dashboard
 * Author: Rushan Arunod
 * Module: EM forms
 */ -->

<div class="forms form-navigation">
    <div class="panel">
        <div class="panel-header">
            <h3>
      				<i class="fa fa-book"></i> <strong>Book of </strong>forms Reports
      			</h3>
        </div>
    </div>
    <div class="panel col-md-12">
        <div class="m-b-10">
            <div class="panel-content widget-info p-t-10">
                <div class="row">
                     <div class="left col-md-2">
                        <i class="fa fa-clock-o bg-green"></i>
                    </div>
                    <div class="right col-md-10" style="padding-top: 15px;">
                        <a ng-href="#/formreports/hourlyanalysis"><strong>Hourly Voting Analysis</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel col-md-12">
        <div class="m-b-10">
            <div class="panel-content widget-info p-t-10">
                <div class="row">
                     <div class="left col-md-2">
                        <i class="fa fa-copy bg-purple"></i>
                    </div>
                    <div class="right col-md-10" style="padding-top: 15px;">
                        <a ng-href="#/formreports/tenderedballots"><strong>List of Tendered Votes</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

