<!-- 
 * Project: MDL
 * Author: Rushan Arunod
 * Modified By: Akarshani Amarasinghe
 * Module: Edit User HTML
 -->

<div class="panel">
	<div class="panel-header">
		<h3>
			<i class="fa fa-table"></i> <strong>Edit Password</strong>
		</h3>
	</div>
	<div class="panel-content"
		ng-controller="mdl.dashboard.controller.manageusers as vm">

		<div class="row stationlist">
			<div class="col-md-12">
				<form class="form-horizontal ng-pristine ng-valid" role="form">

					<div class="form-group">
						<div class="col-sm-3">Enter Election Manager Password *</div>
						<div class="col-sm-9">
							<input type="password" placeholder="Password" ng-model="vm.editUserPassword.empassword" required>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-3">New Password *</div>
						<div class="col-sm-9">
							<input type="password" placeholder="New Password" ng-model="vm.editUserPassword.newpassword" required>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-3">Confirm New Password *</div>
						<div class="col-sm-9">
							<input type="password" placeholder="New Password" ng-model="vm.editUserPassword.repassword" required>
						</div>
					</div>

					<input type="hidden" id="hiduserid" ng-model='vm.editUserPassword.userid' />

					<!-- <div class="form-group">
						<div class="col-sm-3"></div>
						<div class="col-sm-9">
							<button class="btn btn-danger g_fr"
								ng-click="vm.gotoManageScreen()" type="button">Close</button>
						</div>
						<div class="col-sm-9">
							<button class="btn btn-danger g_fr"
								ng-click="vm.updateData(vm.newUser)" type="submit">Update</button>
						</div>

					</div> -->
					
					<div class="form-group">
	                    <div class="col-sm-12">
	                        <button class="btn btn-success m-r-10" ng-click="vm.updatePass(vm.editUserPassword)" type="submit">Update</button>
	                        <button class="btn btn-danger m-r-10" ng-click="vm.gotoEditScreen()" type="button">Close</button>
	                    </div>
	                </div>  

				</form>
			</div>
		</div>
	</div>
</div>







