                                           
                                           TEST,,,,
                                            <div class="form-group">
                                        <p>
                                            <strong>Inline Checkboxes</strong>
                                        </p>
                                        <div class="input-group">
                                            <div class="icheck-inlinem">
                                                <label>
                                                    <input type="checkbox" data-checkbox="icheckbox_square-blue"> Checkbox 1
                                                </label>
                                                <label>
                                                    <input type="checkbox" checked data-checkbox="icheckbox_square-blue"> Checkbox 2
                                                </label>
                                                <label>
                                                    <input type="checkbox" data-checkbox="icheckbox_square-blue"> Checkbox 3
                                                </label>
                                            </div>
                                        </div>
                                    </div> 