<!-- 
 * Project: MDL
 * Author: Rushan Arunod
 * Modified By: Akarshani Amarasinghe
 * Module: Add User HTML
 -->
 
<div class="panel">
	<div class="panel-header">
		<h3>
			<i class="fa fa-table"></i> <strong>Add Users</strong>
		</h3>
	</div>
	<div class="panel-content"
		ng-controller="mdl.dashboard.controller.manageusers as vm">

		<div class="row stationlist">
			<div class="col-md-12">
				<form class="form-horizontal ng-pristine ng-valid" role="form">

					<div class="form-group">
						<div class="col-sm-3">First Name</div>
						<div class="col-sm-9">
							<!-- <input type="text" placeholder="FirstName"
								ng-model='vm.newUser.firstname' class="form-control" required> -->
							<input type="text" placeholder="FirstName" ng-model="vm.newUser.firstname">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-3">Last Name</div>
						<div class="col-sm-9">
							<!-- <input type="text" placeholder="LastName"
								ng-model='vm.newUser.lastname' class="form-control"> -->
							<input type="text" placeholder="LastName" ng-model="vm.newUser.lastname">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-3">Email</div>
						<div class="col-sm-9">
							<!-- <input type="text" placeholder="Email"
								ng-model='vm.newUser.email' class="form-control" required> -->
							<input type="text" placeholder="Email" ng-model="vm.newUser.email">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-3">User Name</div>
						<div class="col-sm-9">
							<!-- <input type="text" placeholder="UserName"
								ng-model='vm.newUser.username' class="form-control"> -->
							<input type="text" placeholder="UserName" ng-model="vm.newUser.username">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-3">Password</div>
						<div class="col-sm-9">
							<input type="password" placeholder="Password" ng-model="vm.newUser.password">
						</div>
					</div>					

					<div class="form-group">
	                    <div class="col-sm-12">
	                    	<button class="btn btn-success m-r-10" ng-click="vm.saveData(vm.newUser)" type="submit">Add</button>
	                        <button class="btn btn-danger m-r-10" ng-click="vm.gotoManageScreen()" type="button">Close</button>
	                    </div>
	                </div>  
	                
					<!-- <div class="form-group">
						<div class="col-sm-3"></div>
						<div class="col-sm-9">
							<button class="btn btn-danger g_fr"
								ng-click="vm.gotoManageScreen()" type="button">Close</button>
						</div>
						<div class="col-sm-9">
							<button class="btn btn-danger g_fr"
								ng-click="vm.saveData(vm.newUser)" type="submit">Add</button>
						</div>

					</div> -->

				</form>
			</div>
		</div>
	</div>
</div>







