
	<div class="row">
	    <div class="col-md-12">
	        <div class="panel bg-dark widget-map">
	            <div class="panel-header">
	                <h3><i class="icon-globe-alt"></i> <strong>Locations</strong></h3>
	            </div>
	            <div class="panel-content widget-full">
	                <div class="row">
	                    <div class="col-md-12">
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel no-bd bd-3 panel-stat">
                    <div class="panel-header">
                        <h3><i class="icon-graph"></i> <strong>Visitors</strong> Statistic</h3>
                        <div class="control-btn">
                            <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
                        </div>
                    </div>
                    <div class="panel-body p-15 p-b-0">
                        <div class="row m-b-10">
                            <div class="col-xs-3 big-icon">
                                <i class="icon-users"></i>
                            </div>
                            <div class="col-xs-9">
                                <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="60">
                                    <div>
                                        <small class="stat-title">Visits today</small>
                                        <h1 class="f-40 m-0 w-300">25 610</h1>
                                    </div>
                                    <div>
                                        <small class="stat-title">Visits yesterday</small>
                                        <h1 class="f-40 m-0 w-300">22 420</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stat-title">New Visitors</small>
                                <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="23">
                                    <div>
                                        <h3 class="f-20 m-0 w-300">37.5%</h3>
                                    </div>
                                    <div>
                                        <h3 class="f-20 m-0 w-300">34.2%</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <small class="stat-title">Bounce Rate</small>
                                <div class="live-tile f-right" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="23">
                                    <div>
                                        <h3 class="f-20 t-right m-0 w-500">5.6%</h3>
                                    </div>
                                    <div>
                                        <h3 class="f-20 t-right m-0 w-500">7.4%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-stat-chart">
                        <canvas id="visitors-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel no-bd bd-3 panel-stat">
                    <div class="panel-header">
                        <h3><i class="icon-graph"></i> <strong>Visitors</strong> Statistic</h3>
                        <div class="control-btn">
                            <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
                        </div>
                    </div>
                    <div class="panel-body p-15 p-b-0">
                        <div class="row m-b-10">
                            <div class="col-xs-3 big-icon">
                                <i class="icon-users"></i>
                            </div>
                            <div class="col-xs-9">
                                <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="60">
                                    <div>
                                        <small class="stat-title">Visits today</small>
                                        <h1 class="f-40 m-0 w-300">25 610</h1>
                                    </div>
                                    <div>
                                        <small class="stat-title">Visits yesterday</small>
                                        <h1 class="f-40 m-0 w-300">22 420</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stat-title">New Visitors</small>
                                <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="23">
                                    <div>
                                        <h3 class="f-20 m-0 w-300">37.5%</h3>
                                    </div>
                                    <div>
                                        <h3 class="f-20 m-0 w-300">34.2%</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <small class="stat-title">Bounce Rate</small>
                                <div class="live-tile f-right" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="23">
                                    <div>
                                        <h3 class="f-20 t-right m-0 w-500">5.6%</h3>
                                    </div>
                                    <div>
                                        <h3 class="f-20 t-right m-0 w-500">7.4%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-stat-chart">
                        <canvas id="visitors-chart"></canvas>
                    </div>
                </div>
            </div>            
        </div>	
