

<div class="panel">
    <div class="panel-header">
        <h3><i class="fa fa-table"></i> <strong>Add New Role</strong></h3>
    </div>
    <div class="panel-content" ng-controller="mdl.dashboard.controller.manageroles as vm">
             <div class="row stationlist">
        <div class="col-md-12">
            <form class="form-horizontal ng-pristine ng-valid" role="form">
				<div class="form-group">
					<div class="col-sm-3">Role Name</div>                                
	                     <div class="col-sm-9">
	                     	 <input type="text" placeholder="Name" ng-model='vm.newRole.rolename' ng-pattern="regex.name" class="form-control" required>
	                     </div>
                </div>
				<div class="form-group">
					<div class="col-sm-3">Description</div>                                
                        <div class="col-sm-9">
                        	 <input type="text" placeholder="Code" ng-model='vm.newRole.description' class="form-control">
                        </div>
                </div> 
	                
                <div class="form-group">
                	<div class="col-sm-12">
                		<button class="btn btn-success m-r-10" type="button" ng-click="vm.saveData(vm.newRole)" type="submit">Save</button>
                		<button class="btn btn-danger m-r-10" type="button" ng-click="vm.gotoManageScreen()" type="button">Cancel</button>
                	</div>  
					<!-- <div class="col-sm-3"></div>  
						<div class="col-sm-9">
                        	 <button class="btn btn-danger g_fr" ng-click="vm.gotoManageScreen()" type="button">Close</button>
                        </div>                              
                        <div class="col-sm-9">
                        	 <button class="btn btn-danger g_fr" ng-click="vm.saveData(vm.newRole)" type="submit">Save</button>
                        </div> -->
                        
                </div>  
                	                    
			</form>
        </div>
    </div>
    </div>
</div>