<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="styles/font-awesome-4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="js/libs/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="js/libs/bootstrap-fileinput/css/fileinput.min.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body onload="window.print()">
	{{printContent}}
</body>
</html>