<div class="modal fade"  id="{{vm.templateModal2.id}}" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title"><strong>{{vm.popup_topic}}</strong></h4>
            </div>
            <div class="modal-body">
                <!-- <p class="m-t-20">{{templateModal2.body}}</p> -->
                <input type="text" class="defaultWidth"	ng-model="vm.popup_user">
            </div>
        </div>
        <div class="modal-footer bg-dark">
            <button type="button" class="btn btn-white" ng-click="vm.templateModal2.close()">{{vm.templateModal2.closeCaption}}</button>
            <button type="button" class="btn btn-primary" ng-click="vm.templateModal2.save(vm.templateModal2.eid, vm.templateModal2.sid)">{{vm.templateModal2.saveCaption}}</button>
        </div>
    </div>
</div>