<div class="modal fade" id="{{vm.infoModalTendered.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="icons-office-52"></i>
                </button>
            </div>
            <div class="modal-body p-t-0">
                <div>
                    <h5 class="m-t-10 text-justify">
                        <strong>
                          * Where the voter votes as proxy for an elector, enter the name of the voter, but the elector’s number.
                        </strong>
                    </h5>

                    <p class="f-16 text-justify m-t-20">
                      <strong>
                        MAKE SURE THAT YOU ALSO LIST THE REASONS FOR ISSUE ON YOUR PRESIDING OFFICER REPORT
                      </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-dark">
            <button type="button" class="btn btn-primary" ng-click="vm.infoModalTendered.close();">{{vm.infoModalTendered.saveCaption}}</button>
        </div>
    </div>
</div>
